:root {
  --green-1: #00ef86;
  --green-2: #008eb9;
  --blue-2: #3d00cc;
  --blue-1: #008cff;
  --purple-1: #5f36f4;
  --purple-2: #3d2aa4;
  --red-1: #ec3258;
  --red-2: #c000b6;
  --yellow-1: #fcda00;
  --yellow-2: #ec3258;
  --plan-color-1: var(--green-1);
  --plan-color-2: var(--green-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: black;
  scroll-padding: 10px;
  max-width: 1400px;
  margin: auto;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}

.index_main_container {
  background: #141414;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.index_main_container .distr {
  background: black;
}
.index_main_container .distr h2 {
  color: whitesmoke;
  padding: 10px;
  font-size: 58px;
}
.index_main_container .first_cntent {
  margin-top: 60px;
  width: 100%;
  background: #1b1b1b;
  padding: 30px;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .first_cntent h1 {
  text-align: center;
  padding: 10px;
  color: orange;
  font-size: 58px;
  font-weight: bolder;
  padding: 10px;
}
.index_main_container .first_cntent .text1 {
  text-align: center;
  word-spacing: 1.5px;
  font-size: xx-large;
  width: 80%;
  color: whitesmoke;
  font-weight: 100;
  display: flex;
  margin: auto;
  padding: 20px;
}
.index_main_container .first_cntent .text1 h3 {
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  margin: auto;
  font-size: xx-large;
}
.index_main_container .first_cntent .distribute {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  align-items: center;
}
.index_main_container .first_cntent .distribute a {
  text-decoration: none;
  background: orange;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
  color: whitesmoke;
  font-weight: bold;
  width: 20%;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
  border: 1px solid orange;
  font-size: large;
}
.index_main_container .first_cntent .distribute a:hover {
  transition: all ease-in-out 0.8s;
  border: 1px solid orange;
  border-radius: 40px;
}
.index_main_container .first_cntent .platform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  border-radius: 5px;
  margin: auto;
}
.index_main_container .first_cntent .platform div {
  padding: 20px;
  font-weight: bolder;
  cursor: pointer;
}
.index_main_container .first_cntent .platform div img {
  width: 100px;
  height: auto;
}
.index_main_container .first_cntent .platform div svg {
  width: 60px;
  height: 60px;
  fill: orange;
}
.index_main_container .first_cntent .platform div:hover {
  font-size: 20px;
  transition: all 0.8s;
}
.index_main_container .container1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  margin-top: 0;
  padding: 100px 20px 60px 0px;
  background: radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.85), #141414), radial-gradient(ellipse at top, var(--plan-color-1), transparent), radial-gradient(ellipse at bottom, var(--plan-color-2), transparent);
  transition: all 50ms ease;
}
.index_main_container .container1 .image_1 {
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 15px;
}
.index_main_container .container1 .image_1 img {
  width: 30%;
  border-radius: 10px;
  transform: rotate(20deg);
}
.index_main_container .container1 .image_1_1 {
  width: 60%;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 15px;
}
.index_main_container .container1 .image_1_1 img {
  width: 100%;
  height: 50vh;
  padding: 20px;
  border-radius: 10px;
  transform: rotate(20deg);
}
.index_main_container .container1 .container1_txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}
.index_main_container .container1 .container1_txt h2 {
  color: orange;
  padding: 10px;
  font-size: 45px;
  font-weight: bold;
}
.index_main_container .container1 .container1_txt ul {
  width: 80%;
  text-align: start;
}
.index_main_container .container1 .container1_txt ul li {
  color: whitesmoke;
  font-size: larger;
  padding: 5px;
}
.index_main_container .container2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .container2 .insider_container2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.index_main_container .container2 .insider_container2 .container2_txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: auto;
}
.index_main_container .container2 .insider_container2 .container2_txt h1 {
  text-align: center;
  color: orange;
  font-size: 50px;
  padding: 10px;
  font-weight: bold;
}
.index_main_container .container2 .insider_container2 .container2_txt ul li {
  color: whitesmoke;
  font-size: larger;
}
.index_main_container .container2 .insider_container2 .image_2 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index_main_container .container2 .insider_container2 .image_2 img {
  width: 40%;
}
.index_main_container .container2 .our_services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.index_main_container .container2 .our_services a {
  padding: 10px;
  color: whitesmoke;
  border-radius: 40px;
  font-size: large;
  border: 1px solid orange;
  text-decoration: none;
  font-weight: bold;
  width: 20%;
  text-align: center;
}
.index_main_container .container2 .our_services a:hover {
  border: 1px solid orange;
  transition: all ease-in-out 0.8s;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  20% {
    background-position: 20% 50%;
  }
  40% {
    background-position: 40% 50%;
  }
  60% {
    background-position: 60% 50%;
  }
  80% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.index_main_container .how_to {
  width: 100%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  padding: 30px;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .how_to h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: orange;
}
.index_main_container .how_to span {
  text-align: center;
  word-spacing: 1.5px;
  font-size: xx-large;
  color: whitesmoke;
}
.index_main_container .how_to ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.index_main_container .how_to ul li {
  list-style: none;
  color: whitesmoke;
  font-size: x-large;
  padding: 10px;
}
.index_main_container .how_to .start_now {
  padding: 10px;
  margin-top: 30px;
}
.index_main_container .how_to .start_now a {
  background: orange;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
  border: 1px solid orange;
  width: 20%;
  padding: 10px;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: large;
}
.index_main_container .how_to .start_now a:hover {
  background: black;
  border: 1px solid orange;
  transition: all 0.8s;
}
.index_main_container .artistic_say {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 150px;
  height: 500px;
}
.index_main_container .artistic_say h1 {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-align: center;
  padding: 10px;
  color: orange;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.index_main_container .artistic_say .jala_artist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
}
.index_main_container .artistic_say .jala_artist div {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  cursor: pointer;
}
.index_main_container .artistic_say .jala_artist div img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
.index_main_container .artistic_say .jala_artist div .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.index_main_container .artistic_say .jala_artist div .overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.index_main_container .artistic_say .jala_artist div .overlay .text h2 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
.index_main_container .artistic_say .jala_artist div:hover .overlay {
  opacity: 0.8;
}
.index_main_container .Connect {
  display: flex;
  position: absolute;
  padding: 30px;
}
.index_main_container .Connect .whatsapp {
  position: fixed;
  top: 50%;
  left: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  z-index: 999;
}
.index_main_container .Connect .whatsapp .chip {
  color: green;
}
.index_main_container .Connect .whatsapp a {
  text-decoration: none;
  color: green;
  font-size: larger;
}
.index_main_container .Connect .whatsapp a svg {
  width: 70px;
  height: 70px;
  fill: darkgreen;
}
.index_main_container .all_container {
  margin-top: 75px;
}
.index_main_container .all_container .about_container {
  background: url(../images/SW66.jpg) no-repeat;
  background-size: cover;
  background-position: 10% 60%;
  height: 50vh;
  opacity: 0.9;
}
.index_main_container .all_container .about_us_container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .all_container .about_us_container .ac1 {
  padding: 10px;
  text-align: justify;
  margin: 10px;
}
.index_main_container .all_container .about_us_container .ac1 h1 {
  color: orange;
  padding: 10px;
}
.index_main_container .all_container .about_us_container .ac1 span {
  color: whitesmoke;
}
.index_main_container .all_container .about_us_container .jala_mission {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}
.index_main_container .all_container .about_us_container .jala_mission h1 {
  color: orange;
  padding: 10px;
}
.index_main_container .all_container .about_us_container .jala_mission span {
  color: whitesmoke;
  padding: 10px;
}
.index_main_container .all_container .platform_container {
  background: url(../images/sw12.jpg) no-repeat;
  background-size: cover;
  background-position: 10% 30%;
  height: 100vh;
  opacity: 0.9;
}
.index_main_container .all_container .platform_container .platform_head {
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.index_main_container .all_container .platform_container .platform_head h1 {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 2px solid #ffa500;
  width: 40%;
  font-weight: bold;
}
.index_main_container .all_container .artist_container {
  background: url(../images/sw55.jpg) no-repeat;
  background-size: cover;
  background-position: 10% 30%;
  height: 100vh;
  opacity: 0.9;
}
.index_main_container .all_container .our_artist {
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .all_container .our_artist .artist_img_container {
  display: flex;
  width: 100%;
  padding: 30px;
}
.index_main_container .all_container .our_artist .artist_img_container .img_itself {
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.index_main_container .all_container .our_artist .artist_img_container .img_itself .name {
  color: white;
  display: none;
}
.index_main_container .all_container .our_artist .artist_img_container .img_itself .picture {
  padding: 10px;
}
.index_main_container .all_container .our_artist .artist_img_container .img_itself .picture img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.index_main_container .all_container .service_container {
  background: url(../images/SW13.jpg) no-repeat;
  background-size: cover;
  background-position: 10% 30%;
  height: 100vh;
  opacity: 0.9;
}
.index_main_container .all_container .service_container .service_head {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.index_main_container .all_container .service_container .service_head h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 2px solid #ffa500;
  width: 40%;
  font-weight: bold;
}
.index_main_container .all_container .services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .all_container .services .__service {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: justify;
}
.index_main_container .all_container .services .__service h2 {
  color: orange;
  font-size: 35px;
}
.index_main_container .all_container .services .__service span {
  color: whitesmoke;
  font-size: x-large;
}
.index_main_container .all_container .pricing_container {
  background: url(../images/sw55.jpg) no-repeat;
  background-size: cover;
  background-position: 10% 30%;
  height: 100vh;
  opacity: 0.9;
}
.index_main_container .all_container .pricing_container .price_head {
  width: 40%;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.index_main_container .all_container .pricing_container .price_head h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 2px solid #ffa500;
  width: 40%;
  font-weight: bold;
}
.index_main_container .all_container .jala_media_prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .all_container .jala_media_prices h1 {
  text-align: center;
  font-size: 40px;
  color: orange;
}
.index_main_container .all_container .jala_media_prices span {
  text-align: center;
  font-size: xx-large;
  width: 60%;
  margin: auto;
  padding: 10px;
  color: whitesmoke;
}
.index_main_container .all_container .jala_media_prices .price_table {
  margin: auto;
  padding: 30px;
  width: 100%;
}
.index_main_container .all_container .jala_media_prices .price_table table {
  border: 1px solid #141414;
  width: 80%;
  margin: auto;
}
.index_main_container .all_container .jala_media_prices .price_table table tr th, .index_main_container .all_container .jala_media_prices .price_table table tr td {
  border: 1px solid #141414;
  color: whitesmoke;
  padding: 15px;
}
.index_main_container .all_container .why_us_container {
  background: url(../images/SW66.jpg) no-repeat;
  background-size: cover;
  background-position: 10% 30%;
  height: 80vh;
  opacity: 0.9;
}
.index_main_container .all_container .why_us_container .why_us_head {
  width: 40%;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.index_main_container .all_container .why_us_container .why_us_head h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 2px solid #ffa500;
  width: 40%;
  font-weight: bold;
}
.index_main_container .all_container .contact_container {
  background: url(../images/sw1.jpg) no-repeat;
  background-size: cover;
  background-position: 20% 90%;
  height: 80vh;
  opacity: 0.9;
}
.index_main_container .all_container .contact_container .contact_head {
  width: 40%;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 20px;
}
.index_main_container .all_container .contact_container .contact_head h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 50px;
  border-bottom: 3px solid #ffa500;
  width: 40%;
  font-weight: bold;
}
.index_main_container .all_container .jala_contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: 70vh;
  background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414), center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
  animation: gradient 15s ease infinite;
}
.index_main_container .all_container .jala_contacts .contacts_list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: whitesmoke;
}
.index_main_container .all_container .jala_contacts .contacts_list h1 {
  color: orange;
  padding: 20px;
  font-size: 50px;
}
.index_main_container .all_container .jala_contacts .jala_map {
  padding: 30px;
  color: whitesmoke;
}

@media (max-width: 1024px) {
  .index_main_container .distr h2 {
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
  }
  .index_main_container .first_cntent h1 {
    font-size: 28px;
  }
  .index_main_container .first_cntent .text1 {
    width: 100%;
    font-size: x-large;
  }
  .index_main_container .first_cntent .text1 h1 {
    font-size: medium;
  }
  .index_main_container .first_cntent .distribute {
    width: 100%;
  }
  .index_main_container .first_cntent .distribute a {
    width: 100%;
    font-size: large;
  }
  .index_main_container .first_cntent .platform {
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    background: #1b1b1b;
  }
  .index_main_container .first_cntent .platform div {
    color: whitesmoke;
    font-size: medium;
    width: -moz-max-content;
    width: max-content;
  }
  .index_main_container .first_cntent .platform div img {
    width: 100px;
    height: auto;
  }
  .index_main_container .container1 {
    flex-direction: column;
    margin: 0;
  }
  .index_main_container .container1 .image_1 {
    width: 100%;
    display: flex;
  }
  .index_main_container .container1 .image_1 img {
    width: 100%;
    margin: auto;
    transform: unset;
  }
  .index_main_container .container1 .image_1_1 {
    width: 100%;
    display: flex;
  }
  .index_main_container .container1 .image_1_1 img {
    width: 100%;
    margin: auto;
    transform: unset;
  }
  .index_main_container .container1 .container1_txt {
    width: 100%;
  }
  .index_main_container .container1 .container1_txt h2 {
    text-align: center;
    font-size: 28PX;
  }
  .index_main_container .container1 .container1_txt ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: start;
  }
  .index_main_container .container1 .container1_txt ul li {
    font-size: x-large;
    width: 68%;
    margin: auto;
  }
  .index_main_container .container2 {
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 100px;
  }
  .index_main_container .container2 .insider_container2 {
    flex-direction: column;
    width: 100%;
  }
  .index_main_container .container2 .insider_container2 .container2_txt {
    width: 100%;
  }
  .index_main_container .container2 .insider_container2 .container2_txt h1 {
    font-size: 38px;
  }
  .index_main_container .container2 .insider_container2 .container2_txt span {
    font-size: x-large;
  }
  .index_main_container .container2 .insider_container2 .image_2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .index_main_container .container2 .insider_container2 .image_2 img {
    width: 100%;
    margin: auto;
    transform: unset;
  }
  .index_main_container .container2 .our_services {
    flex-direction: column;
  }
  .index_main_container .container2 .our_services a {
    width: 60%;
    font-weight: bold;
    font-size: large;
  }
  .index_main_container .how_to h1 {
    font-size: 28px;
  }
  .index_main_container .how_to span {
    font-size: x-large;
  }
  .index_main_container .how_to ul {
    flex-direction: column;
  }
  .index_main_container .how_to ul li {
    font-size: large;
  }
  .index_main_container .how_to .start_now a {
    font-size: large;
  }
  .index_main_container .artistic_say h1 {
    font-size: 20px;
  }
  .index_main_container .artistic_say .jala_artist {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .index_main_container .artistic_say .jala_artist div {
    width: 100%;
    flex-wrap: nowrap;
  }
  .index_main_container .all_container .service_container {
    height: 80vh;
  }
  .index_main_container .all_container .service_container .service_head {
    width: 100%;
  }
  .index_main_container .all_container .service_container .service_head h1 {
    width: 50%;
    font-size: 28px;
  }
  .index_main_container .all_container .service_container {
    background-position: center 10%;
  }
  .index_main_container .all_container .services {
    width: 100%;
  }
  .index_main_container .all_container .services .__service {
    width: 100%;
  }
  .index_main_container .all_container .services .__service h2 {
    font-size: 23px;
    text-align: unset;
  }
  .index_main_container .all_container .services .__service span {
    font-size: large;
  }
  .index_main_container .all_container .pricing_container {
    background-position: 50%;
    height: 80vh;
  }
  .index_main_container .all_container .pricing_container .price_head {
    width: 100%;
  }
  .index_main_container .all_container .pricing_container .price_head h1 {
    font-size: 40px;
  }
  .index_main_container .all_container .jala_media_prices {
    width: 100%;
  }
  .index_main_container .all_container .jala_media_prices h1 {
    font-size: 28px;
  }
  .index_main_container .all_container .jala_media_prices span {
    font-size: large;
    width: 95%;
  }
  .index_main_container .all_container .jala_media_prices .price_table {
    overflow-x: scroll;
    padding: 0;
  }
  .index_main_container .all_container .jala_media_prices .price_table table {
    width: 100%;
  }
  .index_main_container .all_container .jala_media_prices .price_table table tr {
    width: 100%;
  }
  .index_main_container .all_container .jala_media_prices .price_table table tr th, .index_main_container .all_container .jala_media_prices .price_table table tr td {
    padding: 5px;
    font-size: medium;
    width: 100%;
  }
  .index_main_container .all_container .jala_media_prices .price_table table tr td {
    text-transform: lowercase;
    font-size: large;
  }
  .index_main_container .all_container .contact_container {
    background-position: 50%;
    background-size: contain;
  }
  .index_main_container .all_container .contact_container .contact_head h1 {
    font-size: 20px;
  }
  .index_main_container .all_container .jala_contacts {
    flex-direction: column;
    margin: auto;
  }
  .index_main_container .all_container .why_us_container {
    background-size: contain;
    height: 40vh;
  }
  .index_main_container .all_container .why_us_container .why_us_head {
    width: 60%;
  }
  .index_main_container .all_container .why_us_container .why_us_head h1 {
    width: 100%;
  }
  .index_main_container .all_container .about_container {
    background-position: 65%;
  }
  .index_main_container .all_container .about_us_container .jala_mission {
    width: 100%;
    text-align: justify;
  }
  .index_main_container .all_container .about_us_container .jala_mission span {
    width: 100%;
  }
  .index_main_container .all_container .artist_container {
    background-position: 50%;
    background-size: contain;
    height: 45vh;
  }
  .index_main_container .all_container .platform_container {
    background-position: center;
  }
}/*# sourceMappingURL=all.css.map */