:root {
    --green-1: #00ef86;
    --green-2: #008eb9;
    --blue-2: #3d00cc;
    --blue-1: #008cff;
    --purple-1: #5f36f4;
    --purple-2: #3d2aa4;
    --red-1: #ec3258;
    --red-2: #c000b6;
    --yellow-1: #fcda00;
    --yellow-2: #ec3258;
    --plan-color-1: var(--green-1);
    --plan-color-2: var(--green-2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background: black;
    scroll-padding: 10px;
    // max-width: 1400px;
    margin: auto;
    background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
    animation: gradient 15s ease infinite;
}
.index_main_container{
    // background: #141414;
    width: 100%;
    display: flex;
    flex-direction: column;
    .distr{
        background: black;
        h2{
            color: whitesmoke;
            padding: 10px;
            font-size: 58px;
        }
    }
    .first_cntent{
        margin-top: 60px;
        width: 100%;
        background: #1b1b1b;
        padding: 30px;
        background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
        animation: gradient 15s ease infinite;
        h1{
            text-align: center;
            padding: 10px;
            color: orange;
            font-size: 58px;
            font-weight: bolder;
            padding: 10px;
        }
        .text1{
            text-align: center;
            word-spacing: 1.5px;
            font-size: xx-large;
            width: 80%;
            color: whitesmoke;
            font-weight: 100;
            display: flex;
            margin: auto;
            padding: 20px;
            h3{
                padding: 10px;
                text-align: center;
                color: whitesmoke;
                margin: auto;
                font-size: xx-large;
            }
        }
        .distribute{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: auto;
            align-items: center;
            a{
                text-decoration: none;
                background: orange;
                background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
                animation: gradient 15s ease infinite;
                color: whitesmoke;
                font-weight: bold;
                width: 20%;
                text-align: center;
                border-radius: 40px;
                padding: 10px;
                border: 1px solid orange;
                font-size: large;
            }
            a:hover{
                transition: all ease-in-out .8s;
                border: 1px solid orange;
                border-radius: 40px;
            }
        }
        .platform{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            align-items: center;
            border-radius: 5px;
            margin: auto;
            div{
                padding: 20px;
                font-weight: bolder;
                cursor: pointer;
                img{
                    width: 100px;
                    height: auto;
                }
                svg{
                    width: 60px;
                    height: 60px;
                    fill: orange;
                }
            }
            div:hover{
                font-size: 20px;
                transition: all .8s;
            }
        }
    }
    .container1{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: auto;
        margin-top: 0;
        padding: 100px 20px 60px 0px;
        background: radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.85), #141414),radial-gradient(ellipse at top, var(--plan-color-1), transparent),radial-gradient(ellipse at bottom, var(--plan-color-2), transparent);
        transition: all 50ms ease;
        .image_1{
            width: 50%;
            display: flex;
            margin: auto;
            justify-content: center;
            padding: 15px;
            img{
                width: 30%;
                border-radius: 10px;
                transform: rotate(20deg);
            }
        }
        .image_1_1{
            width: 60%;
            display: flex;
            margin: auto;
            justify-content: center;
            padding: 15px;
            img{
                width: 100%;
                height: 50vh;
                padding: 20px;
                border-radius: 10px;
                transform: rotate(20deg);
            }
        }
        .container1_txt{
            width: 50%;
            display: flex;
            flex-direction: column;
            font-size: x-large;
            h2{
                color: orange;
                padding: 10px;
                font-size: 45px;
                font-weight: bold;
            }
            ul{
                width: 80%;
                text-align: start;
                li{
                    color: whitesmoke;
                    font-size: larger;
                    padding: 5px;
                }
            }
        }
    }
    .container2{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px;
        background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
        animation: gradient 15s ease infinite;
        .insider_container2{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            .container2_txt{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                margin: auto;
                h1{
                    text-align: center;
                    color: orange;
                    font-size: 50px;
                    padding: 10px;
                    font-weight: bold;
                }
                ul{
                    li{
                        color: whitesmoke;
        
                        font-size: larger;
                    }
                }
            }
            .image_2{
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 40%;
                }
            }
        }
        .our_services{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px;
            a{
                padding: 10px;
                color: whitesmoke;
                border-radius: 40px;
                font-size: large;
                border: 1px solid orange;
                text-decoration: none;
                font-weight: bold;
                width: 20%;
                text-align: center;
            }
            a:hover{
                // background: black;
                border: 1px solid orange;
                transition: all ease-in-out .8s;
            }
        }
    }
    @keyframes gradient{
        0%{
            background-position: 0 50%;
        }
        20%{
            background-position: 20% 50%;
        }
        40%{
            background-position: 40% 50%;
        }
        60%{
            background-position: 60% 50%;
        }
        80%{
            background-position: 80% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }
    .how_to{
        width: 100%;
        margin: auto;
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-bottom: 150px;
        padding: 30px;
        background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
        animation: gradient 15s ease infinite;
        h1{
            text-align: center;
            padding: 10px;
            font-size: 40px;
            color: orange;
        }
        span{
            text-align:center;
            word-spacing: 1.5px;
            font-size: xx-large;
            color: whitesmoke;
        }
        ul{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;
            li{
                list-style: none;
                color: whitesmoke;
                font-size: x-large;
                padding: 10px;
            }
        }
        .start_now{
            padding: 10px;
            margin-top: 30px;
            a{
                background: orange;
                background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
                animation: gradient 15s ease infinite;
                border: 1px solid orange;
                width: 20%;
                padding: 10px;
                color: whitesmoke;
                text-decoration: none;
                border-radius: 40px;
                font-weight: bold;
                font-size: large;
            }
            a:hover{
                background: black;
                border: 1px solid orange;
                transition: all .8s;
            }
        }
    }
    .artistic_say{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        h1{
            text-emphasis: none;
            text-align: center;
            padding: 10px;
            color: orange;
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .jala_artist{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 15px;
            width: 100%;
            div.picture{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 25%;
                cursor: pointer;
                img{
                    width: 300px;
                    height: 280px;
                    border-radius: 10px;
                    margin: 10px;
                    cursor: pointer;
                }
                .overlay{
                    width:100%;
                    display: flex;
                    justify-content: center;
                    .Name{
                        font-size: 30px;
                        color: #cac9c9;
                        text-transform: uppercase;
                        padding:2px;
                        text-align: center;
                    }
                    .desc{
                        color: #fcda00;
                        font-size: 18px;
                        text-transform: uppercase;
                        padding:2px;
                        text-align: center;
                    }
                }
            }
            .picture:hover .overlay {
                opacity: 1;
            }
        }
    }
    .Connect{
        display: flex;
        position: absolute;
        padding: 30px;
        .whatsapp{
            position: fixed;
            top: 50%;
            left: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
            margin: 5px;
            z-index: 999;

            .chip{
                color: green;
            }
            a{
                text-decoration: none;
                color: green;
                font-size: larger;
                svg{
                    width: 70px;
                    height: 70px;
                    fill: darkgreen;
                }
            }
        }
    }
    //all_pages_container
    .all_container{
        margin-top: 75px;
        //About us
        .about_container{
            background: url(../images/SW66.jpg) no-repeat;
            background-size: cover;
            background-position: 10% 60%;
            height: 50vh;
            opacity: 0.9;
        }
        //about extended
        .about_us_container{
            display: flex;
            flex-direction: column;
            padding: 30px;
            width: 100%;
            background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
            animation: gradient 15s ease infinite;
            .ac1{
                padding: 10px;
                text-align: justify;
                margin: 10px;
                h1{
                    color: orange;
                    padding: 10px;
                }
                span{
                    color: whitesmoke;
                }
            }
            .jala_mission{
                display: flex;
                flex-direction: column;
                width: 80%;
                padding: 10px;
                h1{
                    color: orange;
                    padding: 10px;
                }
                span{
                    color: whitesmoke;
                    padding: 10px;
                }
            }
        }

        //platforms
        .platform_container{
            background: url(../images/sw12.jpg) no-repeat;
            background-size: cover;
            background-position: 10% 30%;
            height: 100vh;
            opacity: 0.9;
            .platform_head{
                width: 40%;
                height: 50%;
                display: flex;
                align-items: center;
                padding: 20px;
                h1{
                    color: #1b1b1b;
                    font-weight: bold;
                    font-size: 50px;
                    border-bottom: 2px solid #ffa500;
                    width: 40%;
                    font-weight: bold;
                }
            }
        }
        //Artist
        .artist_container{
            background: url(../images/sw55.jpg) no-repeat;
            background-size: cover;
            background-position: 10% 30%;
            height: 100vh;
            opacity: 0.9;
        }
        //artist extended
        .our_artist{
            background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
            animation: gradient 15s ease infinite;
            .artist_img_container{
                display: flex;
                width:100%;
                padding: 30px;
                .img_itself{
                    display: flex;
                    width: 95%;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: auto;
                    position: relative;
                    cursor: pointer;
                    .name{
                        color: white;
                        display: none;
                    }
                    .picture{
                        padding: 10px;
                        img{
                            width: 300px;
                            height: 300px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

        //our services
        .service_container{
            background: url(../images/SW13.jpg) no-repeat;
            background-size: cover;
            background-position: 10% 30%;
            height: 100vh;
            opacity: 0.9;
            .service_head{
                width: 80%;
                height: 30%;
                display: flex;
                align-items: center;
                padding: 20px;
                h1{
                    color: whitesmoke;
                    font-weight: bold;
                    font-size: 50px;
                    border-bottom: 2px solid #ffa500;
                    width: 40%;
                    font-weight: bold;
                }
            }
        }
        //services extended
        .services{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 30px;
            background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
            animation: gradient 15s ease infinite;
            .__service{
                width: 80%;
                margin: auto;
                padding: 20px;
                text-align: justify;
                h2{
                    color: orange;
                    font-size: 35px;
                }
                span{
                    color: whitesmoke;
                    font-size: x-large;
                    // padding: 30px;
                }
            }
        }

        //pricing
        .pricing_container{
            background: url(../images/sw55.jpg) no-repeat;
            background-size: cover;
            background-position: 10% 30%;
            height: 100vh;
            opacity: 0.9;
            .price_head{
                width: 40%;
                height: 30%;
                display: flex;
                align-items: center;
                padding: 20px;
                h1{
                    color: whitesmoke;
                    font-weight: bold;
                    font-size: 50px;
                    border-bottom: 2px solid #ffa500;
                    width: 40%;
                    font-weight: bold;
                }
            }
        }
        //pricing extended
        .jala_media_prices{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px;
            background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
            animation: gradient 15s ease infinite;
            h1{
                text-align: center;
                font-size: 40px;
                color: orange;
            }
            span{
                text-align: center;
                font-size: xx-large;
                width: 60%;
                margin: auto;
                padding: 10px;
                color: whitesmoke;
            }
            .price_table{
                margin: auto;
                padding: 30px;
                width: 100%;
                table{
                    border: 1px solid #141414;
                    width: 80%;
                    margin: auto;
                    // padding: 10px;
                    tr{
                        th,td{
                            border: 1px solid #141414;
                            color: whitesmoke;
                            padding: 15px;
                        }
                    }
                }
            }
        }

        //why us
        .why_us_container{
            background: url(../images/SW66.jpg) no-repeat;
            background-size: cover;
            background-position: 10% 30%;
            height: 80vh;
            opacity: 0.9;
            .why_us_head{
                width: 40%;
                height: 30%;
                display: flex;
                align-items: center;
                padding: 20px;
                h1{
                    color: whitesmoke;
                    font-weight: bold;
                    font-size: 50px;
                    border-bottom: 2px solid #ffa500;
                    width: 40%;
                    font-weight: bold;
                }
            }
        }

        //contact us
        .contact_container{
            background: url(../images/sw1.jpg) no-repeat;
            background-size: cover;
            background-position: 20% 90%;
            height: 80vh;
            opacity: 0.9;
            .contact_head{
                width: 40%;
                height: 30%;
                display: flex;
                align-items: center;
                padding: 20px;
                h1{
                    color: whitesmoke;
                    font-weight: bold;
                    font-size: 50px;
                    border-bottom: 3px solid #ffa500;
                    width: 40%;
                    font-weight: bold;
                }
            }
        }
        //contacts extended
        .jala_contacts{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            height: 70vh;
            background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
            animation: gradient 15s ease infinite;
            .contacts_list{
                display: flex;
                flex-direction: column;
                padding: 30px;
                color: whitesmoke;
                h1{
                    color: orange;
                    padding: 20px;
                    font-size:50px;
                }
            }
            .jala_map{
                padding: 30px;
                color: whitesmoke;
            }
        }
    }
}

@media (max-width:1024px){
    .index_main_container{
        .distr{
            h2{
                color: whitesmoke;
                padding: 10px;
                font-size: 28px;
            }
        }
        .first_cntent{
            h1{
                font-size: 28px;
            }
            .text1{
                width: 100%;
                font-size: x-large;
                h1{
                    font-size: medium;
                }
            }
            .distribute{
                width: 100%;
                a{
                    width: 100%;
                    font-size: large;
                }
            }
            .platform{
                flex-wrap: nowrap;
                align-items: center;
                width: 100%;
                overflow-x: scroll;
                background: #1b1b1b;
                div{
                    color: whitesmoke;
                    font-size: medium;
                    width: max-content;
                    img{
                        width: 100px;
                        height: auto;
                    }
                }
            }
        }
        .container1{
            flex-direction: column;
            margin: 0;
            .image_1{
                width: 100%;
                display: flex;
                // height: 100vh;
                img{
                    width: 100%;
                    margin: auto;
                    transform: unset;
                }
            }
            .image_1_1{
                width: 100%;
                display: flex;
                // height: 40vh;
                img{
                    width: 100%;
                    margin: auto;
                    transform: unset;
                }
            }
            .container1_txt{
                width: 100%;
                h2{
                    text-align: center;
                    font-size: 28PX;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: auto;
                    text-align: start;
                    li{
                        font-size: x-large;
                        width: 68%;
                        margin: auto;
                    }
                }
            }
        }
        .container2{
            flex-direction: column;
            display: flex;
            width: 100%;
            margin: auto;
            margin-top: 100px;
            .insider_container2{
                flex-direction: column;
                width: 100%;
                .container2_txt{
                    width: 100%;
                    h1{
                        font-size: 38px;
                    }
                    span{
                        font-size: x-large;
                    }
                }
                .image_2{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    img{
                        width: 100%;
                        margin: auto;
                        transform: unset;
                    }
                }
            }
            .our_services{
                flex-direction: column;
                a{
                    width: 60%;
                    font-weight: bold;
                    font-size: large;
                }
            }
        }
        .how_to{
            h1{
                font-size: 28px;
            }
            span{
                font-size: x-large;
            }
            ul{
                flex-direction: column;
                li{
                    font-size: large;
                }
            }
            .start_now{
                a{
                    font-size: large;
                }
            }
        }
        .artistic_say{
            overflow-x: scroll;
            h1{
                font-size: 20px;
            }
            .jala_artist{
                width: 100%;
                // padding: 0;
                flex-wrap: nowrap;
                
                justify-content: space-between;
                div.picture{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    img{
                        width: 200px;
                        height: 200px;
                    }
                    .overlay{
                        width:100%;
                        display: flex;
                        justify-content: center;
                        .Name{
                            font-size: 25px;
                            color: #cac9c9;
                            text-transform: uppercase;
                            padding:2px;
                            text-align: center;
                        }
                        .desc{
                            color: #fcda00;
                            font-size: 20px;
                            text-transform: uppercase;
                            padding:2px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .all_container{
            .service_container{
                height: 80vh;
                .service_head{
                    width: 100%;
                    h1{
                        width: 50%;
                        font-size: 28px;
                    }
                }
            }
            //R-service
            .service_container{
                background-position: center 10%;
            }
            //services extended
            .services{
                width: 100%;
                .__service{
                    width: 100%;
                    h2{
                        font-size: 23px;
                        text-align: unset;
                    }
                    span{
                        font-size: large;
                    }
                }
            }
            //pricing
            .pricing_container{
                background-position:  50%;
                height: 80vh;
                .price_head{
                    width: 100%;
                    h1{
                        font-size: 40px;
                    }
                }
            }
            //pricing extended
            .jala_media_prices{
                width: 100%;
                h1{
                    font-size: 28px;
                }
                span{
                    font-size: large;
                    width: 95%;
                }
                .price_table{
                    overflow-x: scroll;
                    padding: 0;
                    table{
                        width: 100%;
                        tr{
                            width: 100%;
                            th,td{
                                padding: 5px;
                                font-size: medium;
                                width: 100%;
                            }
                            td{
                                text-transform: lowercase;
                                font-size: large;
                            }
                        }
                    }
                }
            }
            //contact
            .contact_container{
                background-position: 50%;
                background-size: contain;
                .contact_head{
                    h1{
                        font-size: 20px;
                    }
                }
            }
            //contact extend 
            .jala_contacts{
                flex-direction: column;
                margin: auto;
            }

            //why us
            .why_us_container{
                background-size: contain;
                height: 40vh;
                .why_us_head{
                    width: 60%;
                    h1{
                        width: 100%;
                    }
                }
            }
            //R-about us
            .about_container{
                background-position: 65%;
            }
            //about extendet
            .about_us_container{

                .jala_mission{
                    width: 100%;
                    text-align: justify;
                    span{
                        width: 100%;
                    }
                }
            }
            //R-Artist
            .artist_container{
                background-position: 50%;
                background-size: contain;
                height: 45vh;
            }
            //R-platforms
            .platform_container{
                background-position: center;
            }
        }
    }   
}

