:root {
  --green-1: #00ef86;
  --green-2: #008eb9;
  --blue-2: #3d00cc;
  --blue-1: #008cff;
  --purple-1: #5f36f4;
  --purple-2: #3d2aa4;
  --red-1: #ec3258;
  --red-2: #c000b6;
  --yellow-1: #fcda00;
  --yellow-2: #ec3258;
  --plan-color-1: var(--green-1);
  --plan-color-2: var(--green-2);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: auto;
}
body .check_slider {
  width: 100%;
  height: 100vh;
}
body .check_slider .slider {
  width: 100%;
  height: auto;
}
body .check_slider .slider img {
  height: 100vh;
  width: 100%;
}

.music_Home {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8901960784);
  align-items: center;
  z-index: 4;
}
.music_Home a {
  text-decoration: none;
  color: orange;
  font-size: 48px;
}
.music_Home h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
  padding: 0;
}
.music_Home .index_header {
  width: 65%;
}
.music_Home .index_header ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.music_Home .index_header ul li {
  list-style: none;
}
.music_Home .index_header ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
}
.music_Home .index_header ul li a:hover {
  color: #ffbb00;
  transition: all ease-in-out 0.5s;
  padding: 15px;
}
.music_Home .menu_toggle {
  display: none;
}
.music_Home .menu-close {
  display: none;
}

.carousel {
  height: 100vh;
  position: relative;
  width: 100%;
  margin: auto;
  background: black;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}

.slide {
  opacity: 1;
  height: 100%;
}
.slide h1 {
  color: whitesmoke;
  padding: 10px;
  font-size: 50px;
  position: relative;
  top: -50%;
  font-size: 70px;
  font-weight: bolder;
  background: black;
  width: 48%;
  float: right;
}
.slide h5 {
  position: relative;
  top: -30%;
  background: white;
  float: right;
  left: 540px;
  width: 40%;
  padding: 10px;
  font-weight: bolder;
  color: orange;
  font-size: 40px;
}

.carousel > button {
  position: absolute;
  top: 50%;
  font-size: xx-large;
  background: none;
  border: none;
  color: rgba(255, 166, 0, 0.589);
  z-index: 2;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel > button:hover,
.carousel:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel:focus {
  outline: 1px solid black;
}

button.prev-btn {
  left: 1rem;
}

button.next-btn {
  right: 1rem;
}

footer {
  padding: 30px 0 0 0;
  width: 100%;
  border-top: 1px solid orange;
}
footer nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
footer nav .main_footer {
  padding: 20px;
  position: static;
}
footer nav .main_footer img {
  opacity: 0.3;
  border-radius: 10px;
}
footer nav .main_footer .social {
  z-index: 3;
}
footer nav .quick_links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
footer nav .quick_links .quick_l ul {
  color: whitesmoke;
}
footer nav .quick_links .quick_l ul h1 {
  text-transform: uppercase;
}
footer nav .quick_links .quick_l ul li {
  list-style: none;
  margin-top: 10px;
}
footer nav .quick_links .quick_l ul li a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.4509803922);
  padding: 10px;
}
footer nav .quick_links .quick_l ul li a:hover {
  color: whitesmoke;
  transition: all ease-in-out 0.8s;
}
footer nav .contacts h1 {
  color: whitesmoke;
  text-transform: uppercase;
}
footer nav .contacts div {
  padding: 10px;
}
footer nav .contacts div a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.4509803922);
}
footer nav .contacts div a:hover {
  color: whitesmoke;
  transition: all ease-in-out 0.8s;
}
footer nav .under_img img {
  opacity: 0.4;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}
footer nav .under_img img:hover {
  transition: ease-in-out 0.5s;
  opacity: 1;
  padding: 25px;
}
footer nav .connect_with_us {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  align-items: center;
  border-top: 1px solid rgba(245, 245, 245, 0.4509803922);
  border-bottom: 1px solid rgba(245, 245, 245, 0.4509803922);
}
footer nav .connect_with_us .jala_media {
  display: flex;
  align-items: center;
}
footer nav .connect_with_us .jala_media img {
  width: 200px;
  height: 180px;
}
footer nav .connect_with_us .our_social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
}
footer nav .connect_with_us .our_social h4 {
  all: inherit;
  color: whitesmoke;
  font-size: xx-large;
}
footer nav .connect_with_us .our_social div.net_us {
  padding: 5px;
}
footer nav .connect_with_us .our_social div.net_us svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  fill: orange;
}
footer nav .connect_with_us .our_social div.net_us svg:hover {
  fill: whitesmoke;
  transition: ease-in-out 0.8s;
}
footer nav #cookieBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 187, 0, 0.8274509804);
  color: white;
  text-align: center;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav #cookieBanner p {
  margin: 0;
}
footer nav #cookieBanner button {
  margin: 5px;
  width: 10%;
  height: 40px;
  padding: 8px 15px;
  background-color: white;
  color: #ffbb00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
footer nav #cookieBanner button:hover {
  transition: all ease-in-out 0.5s;
  border: 1px solid #fff;
  padding: 10px 18px;
  background: #ffbb00;
  color: #fff;
  font-weight: bold;
}
footer .developer_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
}
footer .developer_section span {
  font-size: large;
  color: whitesmoke;
}
footer .developer_section span a {
  text-decoration: none;
  color: whitesmoke;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  20% {
    background-position: 20% 50%;
  }
  40% {
    background-position: 40% 50%;
  }
  60% {
    background-position: 60% 50%;
  }
  80% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media (max-width: 1024px) {
  .carousel {
    height: 30%;
    margin: 0;
    background: url(../images/adv.jpg) no-repeat;
    background-position: center;
    background-size: contain;
  }
  .slide h1 {
    font-size: 38px;
  }
  .slide h5 {
    font-size: 20px;
  }
  .music_Home {
    display: flex;
    justify-content: space-between;
  }
  .music_Home .jala_logo h1 a {
    font-size: 40px;
  }
  .music_Home .index_header {
    all: unset;
    display: none;
    z-index: 4;
    transition: width 0.9s;
  }
  .music_Home .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
  }
  .music_Home .index_header.open ul {
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0;
    background: whitesmoke;
    height: 70vh;
    width: 100%;
    z-index: 3;
    animation: openMenu 0.5s;
  }
  .music_Home .index_header.open ul li {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
  }
  .music_Home .index_header.open ul li a {
    color: orange;
  }
  .music_Home .index_header.close ul {
    animation: closeMenu 0.5s;
  }
  @keyframes openMenu {
    0% {
      opacity: 0; /* Start with opacity 0 */
      transform: translateY(-20px); /* Move the menu up slightly */
    }
    50% {
      opacity: 0.5; /* Halfway through, opacity increases */
      transform: translateY(-10px); /* Move the menu halfway back down */
    }
    100% {
      opacity: 1; /* End with opacity 1 */
      transform: translateY(0); /* Return to its original position */
    }
  }
  @keyframes closeMenu {
    0% {
      opacity: 1; /* Start with opacity 1 */
      transform: translateY(0); /* Start at its original position */
    }
    50% {
      opacity: 0.5; /* Halfway through, opacity decreases */
      transform: translateY(-10px); /* Move the menu halfway up */
    }
    100% {
      opacity: 0; /* End with opacity 0 */
      transform: translateY(-20px); /* Move the menu all the way up */
    }
  }
  .music_Home .menu_toggle {
    display: block;
    font-size: 50px;
    color: orange;
    background: none;
    border: none;
    cursor: pointer;
  }
  .music_Home .menu-close {
    display: block;
    font-size: 40px;
    width: 20%;
    display: flex;
    justify-content: left;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
  }
  .slide {
    display: none;
  }
  .slide h1 {
    font-size: 15px;
    text-align: center;
    margin: auto;
    background: white;
    display: none;
  }
  footer {
    border-top: none;
  }
  footer nav {
    flex-direction: column-reverse;
  }
  footer nav .main_footer {
    display: flex;
  }
  footer nav .main_footer img {
    opacity: 0.4;
    width: 330px;
    margin: auto;
  }
  footer nav .main_footer .social {
    z-index: 3;
  }
  footer nav .quick_links {
    flex-direction: column;
    width: 100%;
  }
  footer nav .contacts {
    width: 100%;
    margin-top: 20px;
  }
  footer nav .under_img {
    opacity: 0.5;
  }
  footer nav .under_img img {
    width: 100%;
  }
  footer nav .connect_with_us .jala_media img {
    width: 100%;
  }
  footer nav .connect_with_us .our_social {
    width: 100%;
    flex-wrap: wrap;
  }
  footer nav .connect_with_us .our_social h4 {
    font-size: large;
    text-transform: uppercase;
    color: whitesmoke;
  }
  footer nav .connect_with_us .our_social div {
    display: flex;
    flex-wrap: wrap;
  }
  footer nav .connect_with_us .our_social div i {
    font-size: 20px;
  }
  footer nav #cookieBanner {
    background: rgba(78, 78, 78, 0.8901960784);
    width: 100%;
    flex-direction: column;
  }
  footer nav #cookieBanner p {
    font-size: large;
  }
  footer nav #cookieBanner button {
    width: 80%;
  }
  footer .developer_section {
    flex-direction: column;
    padding: 10px;
  }
  footer .developer_section span {
    font-size: small;
    padding: 10px;
  }
  footer .developer_section span a {
    font-size: small;
  }
}/*# sourceMappingURL=allin.css.map */