@import url('https://fonts.googleapis.com/css2?family=Anta&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --green-1: #00ef86;
    --green-2: #008eb9;
    --blue-2: #3d00cc;
    --blue-1: #008cff;
    --purple-1: #5f36f4;
    --purple-2: #3d2aa4;
    --red-1: #ec3258;
    --red-2: #c000b6;
    --yellow-1: #fcda00;
    --yellow-2: #ec3258;
    --plan-color-1: var(--green-1);
    --plan-color-2: var(--green-2);
}
*, *::before, *::after{
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    // margin: 0;
    max-width: 1400px;
    margin: auto;
}
.music_Home{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #000000e3;
    align-items: center;
    z-index: 4;
    max-width: 1400px;
    // .jala_logo{
    //     display: inline-block;
    //     // justify-content: space-evenly;
    //     img{
    //         width: 100px;
    //         height: 100px;
    //     }
    // }
    a{
        text-decoration: none;
        color: orange;
        font-size: 48px;
    }
    h2{
        color: whitesmoke;
        text-align: center;
        font-size: 30px;
        font-family: cursive;
        padding: 0;
        position: rela
        ;
    }
    .index_header{
        width: 80%;
        ul{
        display: flex;
        justify-content: space-between;
        padding: 10px;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: whitesmoke;
                    padding: 10px;
                    font-size: large;
                }
            }
        }
    }
    .menu_toggle{
        display: none;
    }
}
.carousel{
    height: 100vh;
    position: relative;
    width: 100%;
    margin: auto;
    background: black;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}
.slide > img {
    display: block;
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin: auto;
}
.slide  {
    opacity: 1;
    height: 100%;
    h1{
        color: whitesmoke;
        z-index: 3;
        text-align: center;
        padding: 20px;
        font-size: 50px;
        background: linear-gradient(to top right, orange, #f5f5f573, rgba(207, 151, 48, 0.87), rgba(245, 245, 245, 0.959));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
section{
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    .first_imag{
        width: 20%;
        position: relative;
        top: 250px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .second_img{
        width: 35%;
        position: relative;
        top: 250px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .third_img{
        width: 20%;
        position: relative;
        top: 250px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.jala__{
    height: 100vh;
    width: 100%;
    margin: auto;
    margin-top: 200px;
    background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
    animation: gradient 15s ease infinite;
    h1{
        font-size: 40px;
        color: orange;
        text-align: center;
    }
}


.carousel > button{
    position: absolute;
    top: 50%;
    font-size: xx-large;
    background: none;
    border: none;
    color: rgba(255, 166, 0, 0.589);
    z-index: 2;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1);
}
.carousel > button:hover,
.carousel:focus{
    color: white;
    background-color: rgba(0,0,0,.2);
}
.carousel:focus{
    outline: 1px solid black;
}
button.prev-btn{
    left: 1rem;
}
button.next-btn{
    right: 1rem;
}

footer{
    padding: 30px 0 0 0;
    width: 100%;
    border-top: 1px solid orange;
    background: center 100% radial-gradient(ellipse at bottom, rgba(20, 20, 20, 0.8) 10% 10%, #141414),center/400% no-repeat linear-gradient(-45deg, var(--green-1), var(--blue-1), var(--red-1), var(--yellow-1));
    animation: gradient 15s ease infinite;
    nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // flex-direction: column;
        width: 100%;
        .main_footer{
            padding: 20px;
            position: static;
            img{
            opacity: 0.3;
            border-radius: 10px;
            }
            .social{
                z-index: 4;
            }
        }
        .quick_links{
            width: 50%;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            flex-wrap: wrap;
            .quick_l{
                ul {
                    color: whitesmoke;
                    h1{
                        text-transform: uppercase;
                    }
                    li{
                        list-style: none;
                        margin-top: 10px;
                    }
                }
                ul li a{
                    text-decoration: none;
                    color: #f5f5f573;
                    padding: 10px;
                }
                ul li a:hover{
                    color: whitesmoke;
                }
            }
        }
        .contacts{
            h1{
                color: whitesmoke;
                text-transform: uppercase;
            }
            div{
                color: #f5f5f573;
                padding: 10px;
            }
            div:hover{
                color: whitesmoke;
            }
        }
        .under_img{
            img{
                opacity: 0.4;
                display: flex;
                justify-content: center;
                padding: 20px;
                border-radius: 20px;
                cursor: pointer;
            }
            img:hover{
                transition: ease-in-out .5s;
                opacity: 1;
                padding: 25px;
            }
        }
        .connect_with_us{
            display: flex;
            justify-content: space-between;
            padding: 0;
            width: 100%;
            align-items: center;
            border-top: 1px solid #f5f5f573;
            border-bottom: 1px solid #f5f5f573;
            .jala_media{
                display: flex;
                align-items: center;
                img{
                    width: 200px;
                    height: 180px;
                }
            }
            .our_social{
                display: flex;
                justify-content: space-evenly;
                width: 60%;
                align-items: center;
                padding: 10px;
                border-radius: 40px;
                h4{
                    all: inherit;
                    color: whitesmoke;
                    font-size: x-large;
                }
                div{
                    color: white;
                    font-size: 20px;
                    padding: 20px;
                    i{
                        font-size: 40px;
                        cursor: pointer;
                    }
                    i:hover{
                        color: orange;
                        transition: ease-in-out .8s;
                        padding: 5px;
                    }
                }
            }
        }
        #cookieBanner {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 10px;
            background-color: #ffbb00d3;
            color: white;
            text-align: center;
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1400px;
        }

        #cookieBanner p {
            margin: 0;
        }

        #cookieBanner button {
            margin: 5px;
            width: 10%;
            height: 40px;
            padding: 8px 15px;
            background-color: white;
            color: #ffbb00;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        #cookieBanner button:hover{
            transition: all ease-in-out .5s;
            border: 1px solid #fff;
            padding: 10px 18px;
            background: #ffbb00;
            color: #fff;
            font-weight: bold;
        }
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.89);
        padding: 30px;
        color: whitesmoke;
        font-size: medium;
        margin: auto;
    }
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    20%{
        background-position: 20% 50%;
    }
    40%{
        background-position: 40% 50%;
    }
    60%{
        background-position: 60% 50%;
    }
    80%{
        background-position: 80% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@media (max-width:1024px){
    .music_Home{
        display: flex;
        justify-content: space-between;
        .index_header{
            display: none;
        }   
        .menu_toggle{
            display: block;
            font-size: 50px;
            color: orange;
            background: none;
            border: none;
            cursor: pointer;
        }
    }
    .slide{
        display: none;
        h1{
            font-size: 15px;
            text-align: center;
            margin: auto;
            background: white;
            display: none;
        }
    }
    footer{
        border-top: none;
        nav{
            flex-direction: column-reverse;
            .main_footer{
                display: flex;
                img{
                    opacity: 0.4;
                    width: 330px;
                    margin: auto;
                }
                .social{
                    z-index: 3;
                }
            }
            .quick_links{
                flex-direction: column;
                width: 100%;
            }
            .contacts{
                all: inherit;
            }
            .under_img{
                opacity: 0.5;
                img{
                    width: 100%;
                }
            }
            .connect_with_us{
                .jala_media{
                    img{
                        width: 100%;
                    }
                }
                .our_social{
                    width: 100%;
                    flex-wrap: wrap;
                    h4{
                        font-size: large;
                        text-transform: uppercase;
                    }
                    div{
                        display: flex;
                        flex-wrap: wrapx;
                        i{
                            font-size: 25px;
                        }
                    }
                }
            }
            #cookieBanner{
                flex: 1;
            }
            #cookieBanner button{
                width: 40%;
            }
        }
    }
}