{% extends 'jala_app/extension/header.html' %}
{% load static %}

{% block body %}
<div class="index_main_container">
    <div class="all_container">
        <div class="about_container">
            <!-- <h1>About US </h1> -->
        </div>
        <div class="about_us_container">
            <div class="ac1">
                <h1>JALA MEDIA</h1> <span> Is a digital Music Distribution Company that Support  Music artists, Record Labels, Choirs and Bands to sell their music to all digital streaming platforms worldwide(250+ stores), We provide other services like royalty collection, Music promotion, Copyrights control and more for creators </span>
            </div>
            <div class="ac1">
                <span>We are working with different music genre from Africa like Amapiano, Afro Beats, Bongo fleva, Singeli, Genge Tone, Rap, Hip-Hop and  all other genre, We are now operating in all african Countries</span>
            </div>

            <div class="ac1">
                <span>Our team is built upon a love for music many of us being mucisians, Music producers, song writers and creators outside the office, We know what do artist want for their musics so its our pleasure to see them doing better with their music journey</span>
            </div>

            <div class="jala_mission">
                <h1>Our Mission </h1>
                <span>To provide artists with the highest quality distribution platform, offering seamless integration with leading streaming platforms and comprehensive support every step of the way. We strive to exceed our clients' expectations, ensuring their music reaches the widest possible audience with precision and reliability.</span>
            </div>

            <div class="jala_mission">
                <h1>Our Vision</h1>
                <span>To become the leading global platform for music distribution, recognized for our unwavering commitment to artist empowerment, cultural diversity, and innovation in the digital music industry</span>
            </div>
        
        </div>
    </div>

</div>
{% endblock %}