{% extends 'jala_app/extension/header.html' %}
{% load static %}

{% block body %}
<div class="index_main_container">
    <div class="all_container">
        <div class="contact_container">
            <div class="contact_head">
                <h1>Contact</h1>
            </div> 
        </div>
        <div class="jala_contacts">
            <div class="contacts_list">
                <h1> Connect to Us </h1>
                <span>Email </span>
                <span>Call: +255768 583 328</span>
                <span>Instagram</span>
                <span>Twitter</span>
                <span>Tiktok</span>
                <span>FaceBook</span>
            </div>
            
            <div class="jala_map">
                23
            </div>
        </div>
    </div>
</div>
{% endblock %}