{% extends 'jala_app/extension/header.html' %}
{% load static %}

{% block body %}
<div class="index_main_container">
    <div class="all_container">
        <div class="contact_container">
            <div class="contact_head">
                <h1>Contact</h1>
            </div> 
        </div>
        <div class="jala_contacts">
            <div class="contacts_list">
                <h1 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Connect to Us </h1>
                <span data-aos="fade-right" data-aos-duration="500" data-aos-delay="200">Email </span>
                <span data-aos="fade-right" data-aos-duration="500" data-aos-delay="250">Call: +255768 583 328</span>
                <span data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">Instagram</span>
                <span data-aos="fade-right" data-aos-duration="500" data-aos-delay="350">Twitter</span>
                <span data-aos="fade-right" data-aos-duration="500" data-aos-delay="400">Tiktok</span>
                <span data-aos="fade-right" data-aos-duration="500" data-aos-delay="450">FaceBook</span>
            </div>
            
            <div class="jala_map">
                <p data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Get Direction </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}