{% extends 'jala_app/extension/extensions.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'jala_app/css/all.css' %}">

{% block body %}

    <div class="index_main_container">
        <h2> Music Theater </h2>

        <div class="first_cntent">
            <h1> JALA MEDIA </h1>
            <div class="text1">Sell Your Music On Every Streaming Platforms Worldwide keep 100% of Rights and Earnings Forever </div>
            <div class="platform">
                <div>Spotify</div>
                <div>YouTube</div>
                <div>Deezer</div>
                <div>Spotfy</div>
                <div>Apple</div>
                <div>Amazon</div>
                <div>AudioMack</div>
                <div>BoomPlay</div>
            </div>
            <div class="text1"> <h3>More Than 250+ stores Worldwide</h3> </div>
            <div class="distribute"> <a href ="https://forms.gle/paQ4mH2iYMKASAkg7" target="_blank">Start Selling Your Music</a> </div>
        </div>

        <!-- content1 -->
        <div class="container1">
            <div class="image_1" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400">
                <img src="{% static 'jala_app/images/jala5.jpeg' %}" alt="">
            </div>
            <div class="container1_txt">
                <h2> WHY JALA MEDIA </h2>
                <ul>
                    <li>We Distribute Music to Over 250+ Stores</li>
                    <li>We protect Your Patent works </li>
                    <li>Get Paid and Get Verified to all Digital stores(Instant Verification)</li>
                    <li>Your Music will Reach More Audiences(Fans)</li>
                    <li> We Open A Youtube Channel for You (Special For Artists)</li>
                </ul>
            </div>
        </div>

        <!-- content2 -->
        <div class="container2">
            <div class="container2_txt">
                <h2>JALA VIBE </h2>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi inventore voluptatibus, debitis, reprehenderit incidunt eligendi sed est quidem, suscipit quo odit aspernatur. Tempora ut incidunt expedita ex asperiores vitae doloremque.</span>
            </div>
            <div class="image_2">
                <img src="{% static 'jala_app/images/jala2.webp' %}" alt="">
            </div>
        </div>


        <!-- how to sell music online  -->
        <div class="how_to">
            <h1> HOW TO SELL YOUR MUSIC ONLINE </h1>
            <span>It’s never been easier to get your music on stores and streaming services, and start making money from your music. Follow these easy steps to get started:</span>
            <ul>
                <li> UPLOAD YOUR MUSIC </li>
                <li>WE SEND YOUR MUSIC TO STORES</li>
                <li>YOU GET PAID</li>
            </ul>
            <div class="start_now"><a href="https://forms.gle/paQ4mH2iYMKASAkg7" target="_blank">Start Now, Start Earning</a></div>
        </div>


        <div class="artistic_say">
            <h1>What do artist say about jala Media </h1>
            <div class="jala_artist">
                <div class="" data-aos="zoom-in-down" data-aos-duration="500" data-aos-delay="200"><img src="{% static 'jala_app/images/erick.webp' %}" alt=""></div>
                <div class="" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="200"><img src="{% static 'jala_app/images/shvet.webp' %}" alt=""></div>
                <div class="" data-aos="zoom-in-up" data-aos-duration="500" data-aos-delay="200"><img src="{% static 'jala_app/images/jaka.jpeg' %}" alt=""></div>
                <div class="" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"><img src="{% static 'jala_app/images/jala02.webp' %}" alt=""></div>
                <div class="" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="600"><img src="{% static 'jala_app/images/Ali.jpeg' %}" alt=""></div>
                <div class="" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="200"><img src="{% static 'jala_app/images/tatoo.webp' %}" alt=""></div>
                <div class="" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="600"><img src="{% static 'jala_app/images/jala6.webp' %}" alt=""></div>
                <div class="" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"><img src="{% static 'jala_app/images/jala6.webp' %}" alt=""></div>
            </div>

        </div>
        <div class="Connect">
            <div class="whatsapp" data-aos="fade-up" data-aos-duration="3000" data-aos-delay="200">
                <!-- <div class="chip"> <a href="https://wa.me/255754426055" target="_blank"> WhatsApp Us</a> </div> -->
                <a href="https://wa.me/255768 583 328" target="_blank">
                    <i class="fab fa-whatsapp"></i> 
                </a>
                </div>
        </div>
    </div>

{% endblock %}