{% extends 'jala_app/extension/header.html' %}
{% load static %}


{% block body %}
<div class="index_main_container">
    <div class="all_container">
        <div class="platform_container">
            <div class="platform_head">
                <h1>Platforms </h1>
            </div> 
        </div>

        <div class="services">
            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Spotify </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Spotify was launched in 2008 and has become one of the most dominant streaming
                    and subscription services in the world. Spotify has near to 300 million users and
                    grows with 15.000 to 20.000 new songs every day.
                    Spotify for Artists makes it possible for artists to share playlists, sell concert
                    tickets, and update bios on their Spotify artist profile.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Apple Music </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    With more than more than 50 million songs Apple’s subscription music service is
                    the biggest music library in the world and with Apple Connect artists can
                    communicate directly with the listeners and are able to control playlists, music
                    videos, photos and more.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> iTunes </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    iTunes is one of the oldest kids in the game and by far the most popular digital
                    download media player. It offers music downloads and is compatible with Apple
                    music. Revenues derive from paid downloads, radio plays and iTunes Match.
                    iTunes sells more music downloads than all other digital retailers combined and
                    through DANMARK your music is available for sale within a few days.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Music Distribution to Digital Streaming Platforms </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Jala Media  help artist, Lable, Choir and Bands to sell their music to 250+ streaming platforms worldwide like Spotify, Boomplay, iTune, Audiomack, Youtube, Tiktok, Tidal, Deezer e.t.c
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Deezer</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Based in France, Deezer is a prominent streaming service with 20 million users
                    and registers 6 million unique visitors per month. Deezer has partnerships with
                    mobile heavyweights such as Orange, Cricket, T-Mobile and VODAFONE not to
                    mention SKY, B&O, BMW, Samsung and many more!
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">YouTube Music </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    YouTube Music (Also called YouTube Red, YouTube Premium) is YouTube ‘s
                    music subscription service where you can listen to music ad-free and using its own unique music browser and the Youtube Music App. With Youtube Music it’s possible to listen to higher quality music formats compared to YouTube.
                </span>
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">YouTube Content ID</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    YouTube ContentID can be used to monetize your music and videos throughout
                    the YouTube platform.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">TikTok </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    TikTok owns the mobile software application “TikTok” that enables users to
                    create, edit, save, access and share short form videos that may include clips of a
                    single sound recording.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> BoomPlay</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Boomplay is lifestyle and entertainment app with a focus on music. With
                    Boomplay, you're able to download and listen to your favorite songs
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Facebook / Instagram </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Facebook and Instagram. Globally known social media platforms owned by Meta
                    Platforms. We can deliver your music to Facebook (which includes Instagram
                    Stories and Reels).
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">JioSaavn </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    JioSaavn is the leading streaming music provider in India, offering the largest
                    selection of Bollywood, devotional, and regional Indian content, along with a
                    catalog of over 25 million English and international tracks.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Music Distribution to Digital Streaming Platforms </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Jala Media  help artist, Lable, Choir and Bands to sell their music to 250+ streaming platforms worldwide like Spotify, Boomplay, iTune, Audiomack, Youtube, Tiktok, Tidal, Deezer e.t.c
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Claro Música</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Digital music service for America Móvil Group available in 16 countries, which
                    allows users to stream songs through monthly/weekly subscription plans and a la
                    carte downloads.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Triller</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Triller is a mobile software application that enables users to create, edit, save,
                    access and share short form
                    videos that may include clips of a single sound recording (“Clips”) of no more than
                    sixty (60) seconds in duration.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Napster </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Napster – formerly known as Rhapsody – offer 40 million tracks. Unlike its peer-
                    to-peer origins, Napster is a legally paid-for streaming service.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Amazon Music </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Amazon MP3 is the 2nd largest music download store in the world. It features
                    hands free listening using Alexa and 30 sec. preview. Amazon MP3 and Amazon
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Akazoo</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Akazoois a music streaming service and has been operating since 2012. The
                    service consists of a paid subscription (on a monthly, weekly or daily basis)
                    streaming service, which does not feature advertising, available to portable (i.e.
                    mobile) devices allowing unlimited streaming and offline plays of tethered
                    downloads. Akazoo has Facebook integration and users have the ability to share
                    and recommend tracks with other users and Facebook friends.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Audiomack</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Audiomack is a youth-driven, artist-first music streaming platform that allows
                    creators to share unlimited music and podcast content for free.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Pandora</h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Pandora Radio (also known as Pandora Internet Radio or simply Pandora) is a
                    music streaming and automated music recommendation internet radio service
                    powered by the Music Genome Project.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">KKbox </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    KKBox is Asia’s leading music streaming service. With the support from more
                    than 500 international major and local independent music labels, KKBox features
                    40 million tracks, KKBOX is currently available in Taiwan, Hong Kong, Japan,
                    Singapore and Malaysia and have over 10 million users
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Soundcloud </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    SoundCloud was established in Berlin in 2007. It was originally intended to allow
                    musicians to collaborate by facilitating the sharing and discussion of recordings,
                    but later transformed into a publishing tool for music distribution. Revenues derive
                    from monetization and subscription services
                </span>
            </div>



            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200">Beatport </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Beatport is the only music streaming platform focusing specifically on electronic
                    dance music. Founded in 2004 as the principal source of music for DJs, Beatport is
                    today the worldwide home of electronic music for DJs, producers, and their fans.
                    The Beatport Store offers music in premium digital formats and provides unique
                    music discovery tools created for and by DJs. Each week, Beatport’s music
                    collection is refreshed with hundreds of exclusive tracks by the world’s top
                    electronic music artists.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Vevo </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Vevo is the world’s leading all-premium music video and entertainment platform
                    with over 5.5 billion monthly views globally.Vevo brings a library of 100,000 HD
                    music videos, exclusive original programming and live concert performances to
                    everyone on the planet who loves music. Viewers can watch on-demand through
                    Vevo.com, the mobile web and apps for mobile/tablets and TVs, or through Vevo
                    TV, the always-on broadcast-style linear music channels built by expert human
                    programmers and VEVO-On-YouTube, which are VEVO branded pages on
                    YouTube.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Slacker </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Slacker is an ad supported and subscription internet radio and on demand
                    streaming service and can be listened to for free on any device. Users can subscribe
                    and enjoy a commercial-free experience with deep customization, offline listening,
                    and on-demand access to millions of songs and albums.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> AWA </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    AWA is a japanese subscription streaming music service launched inJapan in
                    2015.
                    The service is accessible on mobile devices via the Apple and Google Play app
                    stores and on non-portable devices via a desktop application.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> United Media Agency </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    United Media Agency (UMA) provides a music service to customers directly and
                    on a B2B basis with the Mail.ru group. One of largest email providers in the
                    Russian Commonwealth (CIS) and the two largest social media networks in CIS,
                    VKontakte and Odnoklassniki. Your music will be monetized on these social
                    networks with the potential to reach more than 150 million users. UMA is also
                    making content available on BOOM, a mobile music app for the social network
                    users of Mail.Ru Group.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Tidal </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    TIDAL is an artist-owned music streaming service, offering subscribers access to a
                    catalog of high-fidelity, lossless audio, boasting as many as 25 million tracks and
                    75,000 HD quality music videos.Tidal is offered as music services by various
                    partners like Vodafone, PlayPL, Telenor, Canal Digital, WOM and more...
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> 7digital </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Established in 2004, 7digital is a leading digital media delivery company based in
                    London and operating globally. They have exceptional relationships within the
                    music industry and have a fully licensed catalogue of over 11 million tracks. in
                    2017 7digital acquired European competitor 24-7 Entertainment
                    MediaMarktSaturn.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Weyv </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    The WEYV Service is a paid-only,on-demand,credit-based,subscription service
                    that offers subscribers audio and audio-visual music content, in addition to motion
                    picturemagazine, book, video game and other digital entertainment content.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> I.am+ dial </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    The Dial music service is a device based streaming music service operated by iam+
                    (will.i.am’s technology company).
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> The ROXI music service </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Formerly known as Electric Jukebox and is a device based streaming music
                    service operated by Electric Jukebox / ROXI.
                    The Service is only available via ROXI devices that are designed primarily for
                    home use.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Audible Magic </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Formerly know as MediaNet is one of the biggest providers of digital music,
                    calling upon a heavy-hitting list of distribution retailers. With domestic &
                    international outlets like iMesh, Zonga, JoMedia and Mog.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> SecuryCast </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    SecuryCast is a finnish media giant offering turnkey e-commerce and mobile
                    solutions for traditional stores, music retailers, music whole salers, artists, bands,
                    radio stations. Your music will become available on services like musa24.f,
                    maestropro.fi adn Buumi.net
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> NetEase Cloud Music </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    NetEase Cloud Music is a music and video streaming service in China operated by
                    NetEase it’s parent company NetEase Inc. provides multi-platform games, media,
                    email and e-commerce services.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> QQ Music </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    QQ Music is a music streaming and download service that launched in 2004. The
                    service is set to reach over 700 million users with an estimated 120 million
                    subscribers. (Tencent).
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Kogou </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Kogou launched in 2004 and is currently the largest music streaming service in
                    China.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Kuwo </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Kuwo is the fourth largest music streaming service in China. (Tencent).
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> I.am+ dial </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    The Dial music service is a device based streaming music service operated by iam+
                    (will.i.am’s technology company)
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Yousee Play </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    ousee Play is the music streaming department of danish phone company Yousee.
                    They have their own dedicated app focusing on the danish music streaming market
                    with over 30 million songs.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Soundtrack Your Brand </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    SYB is a business-to-business B2B music streaming platform that provides
                    businesses with music and music videos for performance in commercial venues
                    and public spaces. Business customers are able to access the Service via an app
                    downloadable from the SYB website and the Apple and Google app stores.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Telmore Musik </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Telmore Musik is the music streaming department of the danish phone company
                    Telmore. They have their own dedicated app focusing on the danish music
                    streaming market with over 30 million songs.
                </span>
            </div>

            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Moodagent </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Moodagent is a music streaming service that specializes in interactive playlists and
                    personalized music recommendations. Moodagent analyzes key characteristics in
                    songs such as mood, emotion, genre, style, instrument, vocal, orchestration,
                    production, and beat/tempo.
                </span>
            </div>



            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Anghami </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Anghami is a music streaming service based in Lebanon. The Service, launched in
                    2012 and is currently one of the largest music streaming services in the Middle
                    East and north Africa region.
                </span>
            </div>




            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Yandex Music </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Yandex Music is a music streaming service developed by Yandex and is available
                    in Armenia, Azerbaijan, Belarus, Georgia, Israel, Kazakhstan, Kyrgyzstan,
                    Moldova, Russia, Tajikistan, Turkmenistan and Uzbekistan.
                </span>
            </div>



            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Resso </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Resso is a music streaming and social media service by China-based technology
                    company ByteDance that owns and operates a number of digital products including
                    the TikTok. Resso is offering Ad-Supported as well Premium Service streaming.
                </span>
            </div>


            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Storytel </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Storytel is one of the world’s largest subscribed audiobook and e-book streaming
                    services and offers listening and reading of more than 700,000 titles on a global
                    scale.
                    Storytel’s streaming business is conducted under the brands Storytel and Mofibo
                </span>
            </div>



            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Moodagent </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Moodagent is a music streaming service that specializes in interactive playlists and
                    personalized music recommendations. Moodagent analyzes key characteristics in
                    songs such as mood, emotion, genre, style, instrument, vocal, orchestration,
                    production, and beat/tempo
                </span>
            </div>



            <div class="__service">
                <h2 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Moodagent </h2>
                <span data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Moodagent is a music streaming service that specializes in interactive playlists and
                    personalized music recommendations. Moodagent analyzes key characteristics in
                    songs such as mood, emotion, genre, style, instrument, vocal, orchestration,
                    production, and beat/tempo
                </span>
            </div>

        </div>

    </div>
</div>

{% endblock %}