{% extends 'jala_app/extension/header.html' %}
{% load static %}

{% block body %}
<div class="index_main_container">
    <div class="all_container">
        <div class="pricing_container">
            <div class="price_head">
                <h1> Pricing</h1>
            </div> 
        </div>
        <div class="jala_media_prices">
            <h1 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> JALA MEDIA AFFORDABLE PRICESS</h1>
            <span data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200">
                As jala media Company we provide all the services for affordable and reasonable prices where your music will be distributed to all platforms, get your Catalog, Collection of Loyalties etc.
            </span>
            <div class="price_table" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <table> 
                    <tr>
                        <th>TYPE</th>
                        <th>AMMOUNT(TZS)</th>
                        <th>AMMOUNT(USD)</th>
                    </tr>
                    <tr>
                        <td>SINGLE</td>
                        <td>Tsh 20,000/=</td>
                        <td>10$</td>
                    </tr>
                    <tr>
                        <td>EP(5 OR LESS SONGS)</td>
                        <td>Tsh 50,000/=</td>
                        <td>20$</td>
                    </tr>
                    <tr>
                        <td>ALBUM(18 OR LESS SONGS)</td>
                        <td>Tsh 100,000/=</td>
                        <td>50$</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}