{% extends 'jala_app/extension/header.html' %}
{% load static %}

{% block body %}
<div class="index_main_container">
    <div class="all_container">
        <div class="why_us_container">
            <div class="why_us_head">
                <!-- <h1>Why Us</h1> -->
            </div> 
        </div>
        <div class="container2">
            <div class="insider_container2">
                <div class="container2_txt">
                    <h1 data-aos="fade-down" data-aos-duration="500" data-aos-delay="200"> Why Us </h1>
                    <ul>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Fastest Music Distribution</li>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Affordable and Reasonable Prices</li>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Global Reach</li>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Free Smart Link </li>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Transparent and Trust</li>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Free Song Cover</li>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Good Customer Care</li>
                        <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="400"> Offering complimentary guidance on navigating the music industry.</li>
                    </ul>
                </div>
                <div class="image_2">
                    <img src="{% static 'jala_app/images/p4.png' %}" alt="" width="200px" height="90%">
                </div>
            </div>

            <div class="our_services" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <a href="https://forms.gle/paQ4mH2iYMKASAkg7" target="_blank">START SELLING</a>
            </div> 
        </div>

    </div>
</div>
{% endblock %}